@use "../../utils/functions/"as*;
@use "../../utils/mixins/"as*;

.gallery {
  h2 {
    line-height: 1.35;
    margin: 0 auto 52px;
  }

  img {
    border-radius: var(--radius-main);
    aspect-ratio: 25/27;
  }

  &--photo {
    .grid__item {
      &::before {
        @include pseudo;
        background: var(--gradient-gallery);
        inset: 0;
        border-radius: var(--radius-main);
      }
    }
  }

  h3 {
    position: absolute;
    color: var(--color-white);
    font-size: 25px;
    font-weight: var(--fw-500);
    left: 24px;
    bottom: 24px;
  }
}