/* stylelint-disable declaration-no-important */
@use "../utils/functions/"as*;
@use "../utils/mixins"as*;

*[class].btn {
  position: relative;
  @include flex-all-center;
  max-width: fit-content;
  border: 1px solid transparent;
  white-space: nowrap;
  border-radius: calc(var(--radius-main) - 14px);
  font-weight: var(--fw-700);
  font-size: 20px;
  background-color: var(--color-red) !important;
  font-family: var(--font-family-primary);
  color: var(--color-white) !important;
  line-height: 1;
  margin: 0;
  text-align: center;
  text-transform: capitalize;
  padding: 28px 25px;
  transition-property: background-color, color, border-color;
  transition-duration: 0.2s;

  &:hover {
    background-color: var(--color-orange) !important;

    @include media(tablet) {
      background-color: var(--color-red) !important;
    }
  }

  &--user {
    color: var(--color-orange) !important;
    background-color: transparent !important;

    &:hover {
      background-color: var(--color-orange) !important;
      color: var(--color-white) !important;

      @include media(tablet) {
        color: var(--color-orange) !important;
        background-color: transparent !important;
      }
    }
  }

  &--order {
    padding: 28px 68px 28px 37px;

    &::before {
      @include pseudo;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      right: 38px;
      @include contain-background;
      background-image: var(--arrow);
      transition: transform .2s;
    }

    &:hover {
      background-color: var(--color-orange) !important;

      &::before {
        transform: translateX(50%) translateY(-50%);
      }

      @include media(tablet) {
        background-color: var(--color-red) !important;

        &::before {
          transform: translateX(0) translateY(-50%);
        }
      }
    }
  }
}